<h1>Create new user</h1>

<form action="createUserForm" id="createUserForm">
    <input type="text" name="username" id="newUser" placeholder="username">
    <input type="email" name="email" id="loginEmail" placeholder="email">
     <input type="password" name="password" id="loginPassword" placeholder="password">
    <button>Create Profile!</button>
</form>

<script src="js/addUser.js"></script>